<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="justify mb-2 fo marca-cor" id="sobre">RANGO | <span style="color: #00238b;">PRATO</span>DES </h1>
            <p class="">
                Rango é uma rede social desenvolvida para atender as demandas da ODS, de número dois, da Organização das Nações Unidas ipsum dolor sit amet consectetur adipisicing elit. Repellendus eveniet aperiam voluptatem molestias. Voluptatum beatae illo eligendi ex eum harum accusamus blanditiis quae asperiores, pariatur dignissimos, consequuntur unde molestiae laboriosam.
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <hr>
        <div class="col-md-6 mt-3">
            <img src="#" class="rounded" width="380" height="210" alt="Imagem Ilustrativa">
        </div>
        <!-- <div class="col-md-6 mt-3">
            <h1 class="text-center mb-2 text-success">ODS</h1>
            <p></p>
        </div> -->
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-12">
            <h1 class="text-center mb-2 marca-cor">OBJETIVOS DE DESENVOLVIMENTO SUSTENTÁVEL</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto reiciendis eveniet mollitia qui et dignissimos ab aut unde, ratione provident quam molestias atque earum cum dolorum doloremque omnis, nobis nulla?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet distinctio laborum libero, recusandae velit doloremque laudantium ea sequi! Vero laboriosam, nobis nisi quidem modi reprehenderit enim rerum fuga quod! 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem blanditiis laboriosam, doloribus totam magni, voluptates maxime tempora harum, odit temporibus deserunt labore corporis earum nulla dolore sunt ex est optio!
            </p>
        </div>
        <div class="row mt-3">

        </div>
    </div>
    <hr>
    <div class="jumbotron jumbotron-fluid mb-3 mt-4" style="background-color:#8dba45;">
        <div class="container">
          <h1 class="display-4 text-center mb-2 text-light">DESENVOLVEDORES</h1>
        </div>
        <p></p>
      </div>
    <div class="row">
        <div class="col-md-3">
            <img src="#" class="img-fluid mb-3 rounded-circle" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bordaverde mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title texto-blue">AMANDA</h5>
                  <p class="card-text marca-cor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa maiores molestias, expedita aliquid neque, cum saepe quod dicta nesciunt, explicabo reprehenderit ut? Voluptatem amet sunt vel earum eveniet, ut minus?</p>
                  <div class="card-header d-flex justify-content-center ">
                    <a href=""><img class="mr-6" src="#" alt="Ícone Linkedin"></a>
                    <a href=""><img src="#" alt="Ícone gitHub"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="card bordaverde mb-3" style="max-width: 18rem;">
                    <div class="card-body text-success">
                      <h5 class="card-title texto-blue">JESSIKA</h5>
                      <p class="card-text marca-cor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt perspiciatis labore, voluptatum nesciunt harum aliquid numquam autem at pariatur distinctio dolores officia facere laborum nostrum iusto quaerat eaque magni laudantium.</p>
                      <div class="card-header d-flex justify-content-center ">
                        <a href=""><img class="mr-6" src="#" alt="Ícone Linkedin"></a>
                        <a href=""><img src="#" alt="Ícone gitHub"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="card bordaverde mb-3" style="max-width: 18rem;">
                        <div class="card-body text-success">
                          <h5 class="card-title texto-blue">JONATHAN</h5>
                          <p class="card-text marca-cor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio, laudantium eaque reprehenderit eum quisquam delectus dolorum incidunt aut quo doloribus earum provident, placeat a nesciunt officia, tempore voluptate.</p>
                          <div class="card-header d-flex justify-content-center ">
                            <a href=""><img class="mr-6" src="#" alt="Ícone Linkedin"></a>
                            <a href=""><img src="#" alt="Ícone gitHub"></a>
                          </div>
                        </div>
                      </div>
                    </div>
            <div class="col-md-3">
              <div class="card bordaverde mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title texto-blue">MAYARA</h5>
                  <p class="card-text marca-cor">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque sint debitis illum iure! Ad harum sed quibusdam, laudantium ipsum blanditiis eum ea atque voluptatem. Eius alias nesciunt vero reiciendis veniam.</p>
                  <div class="card-header d-flex justify-content-center">
                    <a href=""><img class="mr-6" src="#" alt="Ícone Linkedin"></a>
                    <a href=""><img src="#" alt="Ícone gitHub"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bordaverde mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title texto-blue">SAMUEL</h5>
                  <p class="card-text marca-cor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum maiores nemo, inventore nulla quae perspiciatis laborum amet repudiandae culpa eos veritatis ab. Itaque fugiat a dolorem iure totam sapiente. Nulla!</p>
                  <div class="card-header d-flex justify-content-center">
                    <a href=""><img class="mr-6" src="#" alt="Ícone Linkedin"></a>
                    <a href=""><img src="#" alt="Ícone gitHub"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bordaverde mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title texto-blue">THAIS</h5>
                  <p class="card-text marca-cor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nesciunt, voluptate totam placeat fugiat odit, ad hic tenetur aliquam, esse dicta eos. Quisquam officia labore earum ullam, qui optio! Quam?</p>
                  <div class="card-header d-flex justify-content-center">
                    <a href=""><img class="mr-6" src="#" alt="Ícone Linkedin"></a>
                    <a href=""><img src="#" alt="Ícone gitHub"></a>
                  </div>
                </div>
            </div>
              </div>
        </div>
</div>