<div class="container-fluid" id="img-bg">

    <div class="row d-flex align-items-center">
        <div class="glass col-md-6">

            <div class="row d-flex justify-content-center mt-4">
                <div class="col-md-6">
                    <h1 class="fs-40">Seja bem vinde!</h1>
                    <h5 class="fs-18">Expresse aqui os seus pensamentos e opiniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a class="btn btn-outline-light mt-4 ml-3 mb-4" href="#postagens">Ver Postagens</a>
                </div>
            </div>


        </div>

        <!-- <div class="col-md-6">
            <img src="" alt="">
        </div> -->
    </div>
</div>


<div class="container" id="postagens">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">


          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-MinhasPostagens-tab" data-toggle="tab" href="#MinhasPostagens" role="tab" aria-controls="nav-MinhasPostagens" aria-selected="true">Minhas postagens</a>

          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-TodasPostagens-tab" data-toggle="tab" href="#TodasPostagens" role="tab" aria-controls="nav-TodasPostagens" aria-selected="false">Todas as postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-PostagensTema-tab" data-toggle="tab" href="#PostagensTema" role="tab" aria-controls="nav-PostagensTema" aria-selected="false">Postagens por tema</a>
        
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" id="MinhasPostagens" role="tabpanel" aria-labelledby="nav-MinhasPostagens-tab">
            Minhas postagens
        </div>

        <div class="tab-pane fade active" id="TodasPostagens" role="tabpanel" aria-labelledby="nav-TodasPostagens-tab">
            Todas as postagens
        </div>

        <div class="tab-pane fade" id="PostagensTema" role="tabpanel" aria-labelledby="nav-PostagensTema-tab">
            Postagens por tema
        </div>
      </div>

</div>




