<div class="container-fluid" id="img-bg">
    <div class="row">

         <div class="col-md-6">
            <div class="row d-flex align-items-center ml-4">
                 
                <div class="col-md-6 glass mt-5">

                    <h2 class="text-center">
                        Seja bem vinde!
                    </h2>
                    <h4 class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ut voluptate
                    </h4>

                    <div class="row justify-content-center">
                        <button class="btn btn-light mt-4 mb-4">Nova Postagem</button>
                        <button class="btn btn-light mt-4 ml-3 mb-4">Ver Postagens</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">

        </div>
    </div>
</div>