#img-bg{
    background-image: url('https://i.imgur.com/wIeMbcM.jpg');
    
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    #img-cad{
        width: 100px;
        height: 100px;
    }
    
    .glass{
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 20.0px );
        border-radius: 10px;
        width: 200px;
        height: 550px;
    }
    
    .font-desc{
        font-size: 50px;
    }
    
    .button-purple{
      background-color:#61156B;
      color: white;
      width: 100px;
      height:auto;
    }
    .button-purple:hover{
        background-color:#895091;
        
    }
    
    .button-green{
        background-color:#8dba45;
        color: white;
        width: 100px;
        height:auto;
      }
      .button-green:hover{
          background-color:#567427;
          
      }

      a{
        color: #895091;
        text-decoration: none;
      }
      